* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 1;
}

:root {
  --nav-color: #c3f788;
}

.container {
  position: relative;
  background: rgba(255, 255, 255, 0.548);
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
}

nav ul li {
  font-size: 40px;
  color: rgb(61, 61, 61);
  text-decoration: none;
  padding: 20px;
  text-align: center;
  margin-bottom: 30px;
}

nav ul li:hover {
  background-color: rgba(116, 113, 113, 0.562);
  border-radius: 50%;
  cursor: pointer;
}

nav ul {
  list-style: none;
  padding: 10px;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  background: var(--nav-color);
}

.profile-pic {
  border-radius: 50%;
  max-width: 30%;
  min-width: 15em;
  height: auto;
  margin-bottom: 20px;
}

.info {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about {
  text-align: justify;
  text-justify: inter-word;
  padding: 0 5em;
  position: relative;
  line-height: 1.6;
  margin-bottom: 20px;
}

#about p {
  margin-bottom: 1.2em;
}

.output {
  text-align: center;
  font-family: "Quicksand", monospace;
  color: black;
}

.output h3 {
  margin-top: 15px;
  font-size: 20px;
}

/* Cursor Styling */

.cursor::after {
  content: "";
  display: inline-block;
  margin-left: 3px;
  background-color: grey;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
h3.cursor::after {
  height: 20px;
  width: 13px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.intro-name {
  margin-bottom: 0;
}

canvas {
  position: fixed;
  z-index: 0.1;
  width: 100%;
  height: 100%;
}

#show-pics {
  font-weight: 600;
  transition: font-size 0.5s, color 0.5s;
  cursor: pointer;
}

#show-pics:hover {
  /* font-weight: 900; */
  color: rgb(9, 102, 109);
  font-size: 1.2rem;
}

#images-container {
  margin-top: 20px;
  display: grid;
  /* position: relative; */
  grid-template-columns: 1fr * 5;
  grid-template-rows: 1fr * 10;
  gap: 10px;
  grid-template-areas:
    "img1 img1 img1 . ."
    "img1 img1 img1 . ."
    ". . img2 img2 img2"
    ". . img2 img2 img2"
    ". img3 img3  . ."
    ". img3 img3  . ."
    ". img3 img3  . ."
    ". img4 img4 img4 img4"
    ". img4 img4 img4 img4"
    ". img4 img4 img4 img4";
  justify-content: center;
}

#image1 {
  grid-area: img1;
}

#image2 {
  grid-area: img2;
}

#image3 {
  grid-area: img3;
}

#image4 {
  grid-area: img4;
}

.images-sizing {
  max-width: 60%;
  min-width: 15em;
  height: auto;
  justify-self: center;
  border-radius: 15px;
  opacity: 0.8;
}

.options-border {
  padding: 0.3rem;
  position: relative;
  background: linear-gradient(to right, #c3f788, #dee2e6);
  border-radius: 10px;
  margin-top: 20px;
}

.projects-options {
  /* background: white; */
  color: #000;
  padding: 0.8rem;
  border-radius: 10px;
  cursor: pointer;
}

.projects-options:hover {
  background: linear-gradient(to right, #c3f788, #dee2e6);
}

.inactive-option {
  background: white;
}

.active-option {
  background: linear-gradient(to right, #c3f788, #dee2e6);
}

#projects-timeline {
  font-family: "Open Sans", sans-serif;
  font-size: 110.5%;
  line-height: 1.6em;
}

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: " ";
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80, 80, 80);
  background: -moz-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(30, 87, 153, 1)),
    color-stop(100%, rgba(125, 185, 232, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );

  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;

  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248, 248, 248);
  padding: 6px 10px;
  border-radius: 5px;

  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255, 200, 80);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;

  line-height: 1em;
  font-size: 0.66666em;
  font-weight: 900;
  color: rgb(240, 142, 62);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248, 248, 248);
}

.desc {
  margin: 1em 0.75em 0 0;

  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {
  .timeline {
    width: 100%;
    padding: 4em 0 1em 0;
  }

  .timeline li {
    padding: 2em 0;
  }

  .direction-l,
  .direction-r {
    float: none;
    width: 100%;

    text-align: center;
  }

  .flag-wrapper {
    text-align: center;
  }

  .flag {
    background: rgb(255, 255, 255);
    z-index: 15;
  }

  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
    left: 50%;
    content: " ";
    display: block;
    width: 12px;
    height: 12px;
    margin-left: -9px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(255, 200, 80);
    z-index: 10;
  }

  .direction-l .flag:after,
  .direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    border-width: 8px;
    pointer-events: none;
  }

  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }

  .direction-l .time-wrapper {
    float: none;
  }

  .direction-r .time-wrapper {
    float: none;
  }

  .desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(245, 245, 245);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);

    z-index: 15;
  }

  .direction-l .desc,
  .direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;

    z-index: 15;
  }
}

$bg-color: #e6e5e1;
$shdow-gray: #d3d3d5;
$green: rgba(86, 175, 51, 0.623);
$blue: rgba(56, 189, 230, 0.644);
$purple: rgba(157, 117, 248, 0.644);
$red: rgba(248, 117, 117, 0.644);
$img-url: "https://images2.minutemediacdn.com/image/upload/c_crop,h_866,w_1538,x_442,y_0/f_auto,q_auto,w_1100/v1615833629/shape/mentalfloss/536413-gettyimages-1207430371.jpg";
$img-url2: "https://ak.picdn.net/shutterstock/videos/26443988/thumb/1.jpg";
$img-url3: "https://www.orfonline.org/wp-content/uploads/2021/04/space-security-1280x720.jpg";
$img-url4: "https://www.sandyspringmuseum.org/wp-content/uploads/2018/07/magiccards-1024x682.jpg";

.card i {
  opacity: 0;
  font-size: 25px;
  color: rgb(255, 255, 255);
  will-change: transform;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.card h2 {
  pointer-events: none;
}

.cards-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .card {
    position: relative;
    width: 500px;
    height: 200px;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 4px;
    margin-top: 20px;

    h2 {
      z-index: 99;
      font-family: "Poppins", sans-serif;
      position: absolute;
      bottom: 0;
      right: 130px;
      font-size: 45px;
      font-weight: 700;
      color: #fff;
    }

    .fa-arrow-right {
      z-index: 100;
      position: absolute;
      right: 20px;
      bottom: 25px;
      font-size: 40px;
      cursor: pointer;
      color: rgba(7, 7, 7, 0.295);
    }
    p {
      z-index: 99;
      position: absolute;
      top: 20px;
      right: 70px;
      color: #333;
      opacity: 0.7;
      font-size: 12px;
      letter-spacing: 1px;
      writing-mode: vertical-lr;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    .pic {
      z-index: 100;
      width: 400px;
      height: 200px;
      background-image: url($img-url);
      background-size: 100% 100%;
      filter: grayscale(100%);
    }

    .social {
      position: absolute;
      left: 60px;
      top: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 180px;
      height: 64px;
      border-radius: 80px;
    }

    .social i:nth-of-type(1) {
      -webkit-transition-delay: 0.4s;
      transition-delay: 0.4s;
    }

    .social i:nth-of-type(2) {
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s;
    }

    .social i:nth-of-type(3) {
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s;
    }

    .social i:nth-of-type(4) {
      -webkit-transition-delay: 0.1s;
      transition-delay: 0.1s;
    }

    &:hover i {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    button {
      position: absolute;
      right: 14px;
      bottom: 14px;
      width: 30px;
      height: 30px;
      background-color: $green;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      outline: none;
      transition: all 0.3s ease;
      mix-blend-mode: hard-light;

      i {
        font-size: 3rem;
      }
    }

    &:hover button {
      transform: scale(16.5);
    }

    &:hover .pic {
      filter: grayscale(0);
    }
  }

  .card2 {
    .pic {
      background-image: url($img-url2);
    }
    button {
      background-color: $blue;
    }
  }

  .card3 {
    .pic {
      background-image: url($img-url3);
    }
    button {
      background-color: $purple;
    }
  }

  .card4 {
    .pic {
      background-image: url($img-url4);
    }
    button {
      background-color: $red;
    }
  }
}

.dr {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 100px;
}

#resume {
  text-decoration: none;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 70%;
  transform: scaleX(0);
  height: 1px;
  bottom: 10px;
  left: 15%;
  background-color: #c7ca00;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.icon-position {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25px;
  margin-top: 10px;
}

.proficiencies {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 15px;
  flex-wrap: wrap;
}
.home-text {
  font-size: 17px;
}

.proficient-text {
  font-size: 13px;
}

.dabble-text {
  font-size: 11px;
}

.proficient-title {
  margin-top: 30px;
}

.contact-button:hover {
  box-shadow: 0 0 10px 10px rgba(0, 255, 85, 0.432),
    0 0 10px 10px rgba(0, 255, 85, 0.432) inset;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (min-width: 400px) and (max-width: 660px) {
  .direction-l .desc,
  .direction-r .desc {
    margin: 1em 4em 0 4em;
  }
}

@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    background: var(--nav-color);
  }

  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  nav ul li {
    font-size: 30px;
    color: rgb(61, 61, 61);
    text-decoration: none;
    padding: 20px;
    text-align: center;
    margin-bottom: 0;
  }

  .container {
    max-width: 100vw;
  }

  #images-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr * 2;
    grid-template-rows: 1fr * 9;
    gap: 10px;
    grid-template-areas:
      "img1 img1"
      "img1 img1"
      "img2 img2"
      "img2 img2"
      "img3 img3"
      "img3 img3"
      "img3 img3"
      "img4 img4"
      "img4 img4";
    justify-content: center;
  }

  .card {
    width: 300px !important;

    h2 {
      left: 5px !important;
      font-size: 1.5rem !important;
    }
    p {
      opacity: 0.9 !important;
    }

    .pic {
      z-index: 100;
      width: 70% !important;
      height: auto;
      background-image: url($img-url);
      background-size: cover !important;
      filter: grayscale(100%);
      margin-right: 0;
    }

    .social {
      left: 20px !important;
    }

    &:hover button {
      transform: scale(8.5) !important;
    }
  }
}

@media screen and (max-width: 350px) {
  section > h1 {
    text-align: center;
  }
}
