body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 1;
}

:root {
  --nav-color: #c3f788;
}

.container {
  position: relative;
  background: rgba(255, 255, 255, 0.548);
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
}

nav ul li {
  font-size: 40px;
  color: rgb(61, 61, 61);
  text-decoration: none;
  padding: 20px;
  text-align: center;
  margin-bottom: 30px;
}

nav ul {
  list-style: none;
  padding: 10px;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  background: var(--nav-color);
}

.profile-pic {
  border-radius: 50%;
  max-width: 30%;
  min-width: 15em;
  height: auto;
}

.info {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.output {
  text-align: center;
  font-family: "Quicksand", monospace;
  color: black;
}

.output h3 {
  font-size: 20px;
}

/* Cursor Styling */

.cursor::after {
  content: "";
  display: inline-block;
  margin-left: 3px;
  background-color: grey;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
h3.cursor::after {
  height: 20px;
  width: 13px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.intro-name {
  margin-bottom: 0;
}

canvas {
  position: fixed;
  z-index: 0.1;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    background: var(--nav-color);
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  nav ul li {
    font-size: 30px;
    color: rgb(61, 61, 61);
    text-decoration: none;
    padding: 20px;
    text-align: center;
    margin-bottom: 0;
  }
}
