body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: row;
}

:root {
  --about-color: #5f4e4e;
  --nav-color: #c3f788;
  --projects-color: #88bfb5;
  --skills-color: #f2e527;
  --contact-color: #d2a9d9;
}

.container {
  position: relative;
  background: #fff;
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
  /* width: 10%; */
}

nav ul li {
  font-size: 40px;
  color: rgb(61, 61, 61);
  text-decoration: none;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 10px;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  background: var(--nav-color);
}

.info {
  /* position: absolute; */
  /* top: 0; */
  height: 100vh;
  /* width: 0; */
  /* opacity: 0; */
  /* transition: all ease-in 0.5s; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
/*
.info h1 {
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
  opacity: 0;
} */

@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    background: var(--nav-color);
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
